mixin header(addLinksButton)

  header.header
    .header__left
      .header__logo 
        a(href="index.html").link_button
    .header__right
      a(href='tel:+74956627677', data-trnslt='phone.title', data-trnslt-attr='phone.href').header__phone +7 (495) 662 76 77
      .header__separator
      include ../langs/langs.pug
      if addLinksButton
        +links-button
        //- include ../links-button/links-button.pug
    .header__menu


