mixin header(addLinksButton)

  header.header
    .header__left
      .header__logo 
        a(href="index.html").link_button
    .header__right
      a(href='' data-trnslt='phone.title', data-trnslt-attr='phone.href').header__phone
      .header__line
      include ../langs/langs.pug
      if addLinksButton
        +links-button
    .header__menu


