mixin menu-inner__item(content, params)
  if content.type=="line"
    li.menu-inner__item.menu-inner__item-line
  else 
    li.menu-inner__item&attributes(attributes)
      a(href=content.href)!=content.title

mixin menu-inner__download(content, params)
  .menu-inner__download&attributes(attributes)
    a(href=content.href).menu-inner__download-button
      .menu-inner__download-button-img
      .menu-inner__download-button-text(data-trnslt='download.title')
    p.menu-inner__footer(data-trnslt='footer.text')
      a(href="https://www.raiffeisen.ru" target="_blank").menu-inner__footer-link www.raiffeisen.ru

mixin menu-inner(content, params)
  .menu-inner&attributes(attributes)
    .menu-inner__wrapper
      .menu-inner__button-close
      ul.menu-inner__list
        +links-button
      +menu-inner__download({href:"#"})
