include components/page/page.pug
include components/mixins/mixins.pug
include components/content-part-column/content-part-column.pug
include components/column-item/column-item.pug
include components/contact/contact.pug
include components/inner-part/inner-part.pug
include components/menu-inner/menu-inner.pug
include components/links-button/links-button.pug

+page('')
  +menu-inner("")
  include components/menu-inner/menu-inner.pug
  //- +inner-part({title:"Сохранить и приумножить", image:"images/inner-illustrations-5.png", text:"<p>Обслуживание в московском офисе Friedrich Wilhelm Raiffeisen сочетает в себе преимущества индивидуального клиентского сервиса в Москве с инвестиционными решениями, разработанными в центральном офисе Группы Райффайзен в Вене.</p> <p>Каждый клиент российского офиса Friedrich Wilhelm Raiffeisen получает персонального менеджера в Москве, который осуществляет открытие и обслуживание инвестиционных счетов в Австрии, а также обеспечивает доступ к международному рынку ценных бумаг через платформы в России и за рубежом.</p> <p>Специалисты Friedrich Wilhelm Raiffeisen в Австрии разрабатывают индивидуальные стратегии доверительного управления активами и осуществляют формирование индивидуального портфеля, отвечающего инвестиционным потребностям клиента.</p> <p>Friedrich Wilhelm Raiffeisen оказывает брокерские, консультационные и аналитические услуги, предоставляет гибкие депозитные предложения и обслуживает счета в 11 валютах.</p> <p>Узнать об инвестиционных решениях Friedrich Wilhelm Raiffeisen <a class='inner-part__link' href='' target='_blank'>в Вене</a></p>"})
  
  +inner-part

  #templates
    +inner-part-template
  